/MaskeTakip/Business/bin
/MaskeTakip/Business/obj
/MaskeTakip/Entities/obj
/MaskeTakip/Entities/bin
/MaskeTakip/Workarround/obj
/MaskeTakip/Workarround/bin
/MaskeTakip/.vs
/Intro/.vs
/Intro/Intro/bin
/Intro/Intro/obj
/Day2-Task3-KodlamaioCrud/.vs
/Day2-Task3-KodlamaioCrud/Business/bin/Debug/net8.0
/Day2-Task3-KodlamaioCrud/Business/obj
/Day2-Task3-KodlamaioCrud/ConsoleApp/bin/Debug/net8.0
/Day2-Task3-KodlamaioCrud/ConsoleApp/obj
/Day2-Task3-KodlamaioCrud/ConsoleApp1/obj/Debug
/Day2-Task3-KodlamaioCrud/DataAccess/bin/Debug/net8.0
/Day2-Task3-KodlamaioCrud/DataAccess/obj
/Day2-Task3-KodlamaioCrud/Entities/bin/Debug/net8.0
/Day2-Task3-KodlamaioCrud/Entities/obj
